<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentbehaviouranalysis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- label of activity tag returns tne name of MainActivity and application name-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeacherLogin"
            android:label="@string/teacher_login" />
        <activity
            android:name=".AdminLogin"
            android:label="@string/admin_login" />
        <activity
            android:name=".SubjectDetails"
            android:label="@string/subject_details" />
        <activity
            android:name=".AnalyticsActivity"
            android:label="@string/analytics" />
        <activity
            android:name=".ClassBehaviour"
            android:label="@string/class_behaviour" />
        <activity
            android:name=".IndividualStudentBehaviour"
            android:label="@string/individual_student_behaviour" />
        <activity
            android:name=".IndividualAttention"
            android:label="@string/individual_attention" />
        <activity
            android:name=".Attendance"
            android:label="@string/attendance" />
        <activity
            android:name=".StudentActivity"
            android:label="@string/student_activity" />
    </application>

</manifest>